// Import all the partials
// ------------------------------
// This is a good starting point to start coding the style of your project

// The reboot.scss file is used to reset the browser's default styles
@import './_reboot.scss';

// The variables.scss file is used to define the variables used in the project
@import './_variables.scss';

// The typo.scss file is used to define the typography used in the project
@import './_typo.scss';

// The containers.scss file is used to define the containers used in the project
@import './_containers.scss';




.sfondopag{


background-image: url( 'https://previews.123rf.com/images/witthaya/witthaya1707/witthaya170700051/82737968-disegni-e-dipinti-di-pareti-sui-muri-del-tempio-antico-egiziano.jpg')

}

.testo-h11{

      background-color: khaki;
      padding: 1rem;
      margin: 1rem;
      color: rgb(0, 0, 0);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 6rem;
      border-radius: 80px;
      box-shadow: 8px 10px black
}




.testo-h1{

      padding: 1rem;
      margin: 1rem;
      color: rgb(255, 255, 255);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20px;
      
}


.link{

      margin-left: 88px;
      color:rgb(255, 255, 255);
}


.card{

      color: chocolate;margin-left: 5px;
      font-family: cursive;display:flex;
      color: rgb(255, 255, 255);
      justify-content: safe center;
      font-size: 18px;
      float: left;

}

.testo-h2{

      font-size: 22px;color: rgb(0, 0, 0);
      margin-left: 2rem;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first-img{

      margin-left: 18rem;
}


.img-left{

      margin-left: 70rem;
      height: 300px;
      

}


.iframe{

      background-color: khaki;
      padding: 1rem;
      margin: 1rem;
      color: rgb(0, 0, 0);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 10rem;
      margin-left: 8rem;
      }

.gold{

      width: 480px;
      margin-left: 220px;
      color: black;

}

