// Import all the partials
// ------------------------------
// This is a good starting point to start coding the style of your project

// The reboot.scss file is used to reset the browser's default styles
@import './_reboot.scss';

// The variables.scss file is used to define the variables used in the project
@import './_variables.scss';

// The typo.scss file is used to define the typography used in the project
@import './_typo.scss';

// The containers.scss file is used to define the containers used in the project
@import './_containers.scss';




 .testo-h1{

      padding: 1rem;
      margin: 1rem;
      color: rgb(0, 0, 0);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20px;
}


.link{

     margin-left: 85%;
      color: rgb(44, 214, 160);
}


.card{

     color: chocolate;margin-left: 5px;
     font-family: cursive;display:flex;
     color: black;justify-content: safe center;
     
 

}

.testo-h2{

     font-size: 18px;color: peru;
      margin-left: 2rem;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first-img{

     margin-left: 21rem;


}







